
{% extends "base_generic.html" %}
<!--Javi: home page-->
{% block content %}
    <p>Welcome to IB Tracker a web site that will help you with revise and keep track of your IB. IN here you will find exercises videos, notes, and the syllabus of different subjects. Login to try it.</p>
<p>
{% if subject %}
    there are {{ subject|length }} Subjects:<br/>
    <ul>
    {% for aSubject in subject %}
    <li> {{ aSubject.subject_name }}</li>
    {% endfor %}
    </ul>
{% else %}
    There are no records in the system
{% endif %}
</p>

{% if topics %}
    there are {{ topics|length }} records:<br/>
    <ul>
    {% for aTopic in topics %}
        <li> {{ aTopic.topic_name }}</li>
    {% endfor %}
    </ul>
{% else %}
    There are no records in the system
{% endif %}
</p>
{% endblock %}
